version: "3.9"

services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./api/Dockerfile
    restart: always
    volumes:
      - ./api/app:/app/app
      - ./api/main.py:/app/main.py
    env_file:
      - ./api/.env
    depends_on:
      - postgres
      - redis
      # - elasticsearch
    command: uvicorn main:app --host 0.0.0.0 --port 8989 --reload
    ports:
      - ${API_PORT}:8989
    networks:
      - api-net

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
    networks:
      - api-net

  redis:
    container_name: redis
    image: redis
    restart: always
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - 6379:6379
    networks:
      - api-net

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:${ES_STACK_VERSION}
  #   container_name: elasticsearch
  #   restart: always
  #   environment:
  #     - discovery.type=single-node
  #     - ES_JAVA_OPTS=-Xms1g -Xmx1g
  #     - xpack.security.enabled=false
  #   volumes:
  #     - ./esdata:/var/lib/elasticsearch/data
  #   ports:
  #     - ${ES_PORT}:9200
  #   networks:
  #     - api-net

  # label-studio:
  #   image: heartexlabs/label-studio:latest
  #   container_name: label-studio
  #   ports:
  #     - 8080:8080
  #   volumes:
  #     - ./label-studio-project:/label-studio/data

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:${ES_STACK_VERSION}
  #   container_name: kibana
  #   environment:
  #     - ELASTICSEARCH_HOSTS=http://elasticsearch:${ES_PORT}
  #   depends_on:
  #     - elasticsearch
  #   ports:
  #     - 5601:5601
  #   networks:
  #     - api-net


networks:
  api-net:
    driver: bridge